TELEGRAM_BOT_TOKEN=replace_me
AG_TELEGRAM_CHAT_ID=replace_me
AG_TELEGRAM_USER_ID=replace_me
# Optional overrides:
# AG_STATE_DIR=/home/you/.cache/bitzybridge-ag
# AG_POLICY_FILE=/home/you/.hermes/plugins/bitzybridge-ag/policy.json
# AG_CDP_PORT=9222
